<h1 class="title is-1">
    <%= @challenge.title %>
</h1>
<h2 class="subtitle">
    Created by
    <%= render partial: 'shared/user_link', object: @challenge.user %>
    &bull;
    Size limit: <%= @challenge.max_size %> bytes
    &bull;
    <%= @challenge.status %>
</h2>
<div class="columns">
    <div class="column is-narrow">
        Submissions open:<br>
        Submission deadline:<br>
        Voting deadline:
    </div>
    <div class="column">
        <%= @challenge.start %><br>
        <%= @challenge.deadline %><br>
        <%= @challenge.voting_deadline %>
    </div>
</div>
<% unless @challenge.rules.empty? %>
    <h2 class="is-size-3">Rules</h2>
    <pre><%= @challenge.rules %></pre>
<% end %>
